@import "compass";

$header-height: 50px;

body {
  background: #ddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.card {
    margin: 50px auto;
    width: 800px;
    position: relative;
    outline: 2px solid lime;
    @include transition (all 2s ease);
    }

@mixin geometric-pattern-row ($triangle-base, $num-wide, $color) {

  $row-width: $triangle-base * $num-wide;  
  $a-color: adjust-lightness($color, 05%);
  $b-color: adjust-lightness($color, 10%);
  $c-color: adjust-lightness($color, 15%);
  $d-color: adjust-lightness($color, 20%);

  width: $row-width;
  margin: 0px auto;

  .geometric-pattern-row {
      overflow: hidden;
      display: block;
      position: relative;
      height: $triangle-base;
      width: $row-width; 

      .a-d, .b, .c {
          @include transition(all 0.5s ease);
          width: 0px;
          height: 0px;
          border: $triangle-base/2 solid transparent;
          float: left;
          margin: 0px;
          padding: 0px;
      }  

      .b-row {
          visibility: visible;
          position: absolute;
          width: $row-width + $triangle-base;
          margin-left: -($triangle-base/2);
          margin-top:  -($triangle-base/2);   
          .b {
            border-bottom: $triangle-base/2 solid $b-color;
          }
      } // end of b-row 

      .a-d {
        border-top: $triangle-base/2 solid $a-color;
        border-bottom: $triangle-base/2 solid $d-color;
      }  

      .c-row {
          visibility: visible;
          position: absolute;
          width: $row-width + $triangle-base;
          margin-left: -($triangle-base/2);
          margin-top:  $triangle-base/2;  
          .c {
            border-top: $triangle-base/2 solid $c-color;
          }
      } // end of c-row

  } // end of geometric-pattern-row
}//end of mixin definition 

.geometric-container-b{
  margin: 0px auto;
  border-radius: 10px;

  $r: 72;
  $g: 100;
  $b: 67;

  @include geometric-pattern-row (100px, 8, rgb($r, $g, $b));
  &:hover {
    @include geometric-pattern-row (100px, 8, rgb($r+50, $g+20, $b+10));
  }
  &:active {
    @include geometric-pattern-row (100px, 8, rgb($r+10, $g+50, $b+90));
  }
}

.geometric-container-a{
  margin: 00px auto;
  border-radius: 10px;


  $r: 20;
  $g: 20;
  $b: 150;

  @include geometric-pattern-row (100px, 8, rgb($r, $g, $b));
  &:hover {
    @include geometric-pattern-row (100px, 8, rgb($r+50, $g+20, $b+10));
  }
  &:active {
    @include geometric-pattern-row (100px, 8, rgb($r+10, $g+50, $b+90));
  }
}

@mixin headerbar ($header-height) {
    box-shadow: 0 5px 50px 0px black;
    height: $header-height;
    .container {
        span.title {
            font-size: 50px;
            line-height: $header-height;
            text-align: center;
            margin: 0 auto;
        }
    }
}
@mixin subheader () {
    span.subtitle {
        font-size: 20px;
        background-color: white;
        height: $header-height - 10px;
        line-height: $header-height - 10px;
        text-align: center;
        margin: 0 auto;
    }
}

.header {
    @include headerbar (100px);
}

.subheader {
    @include headerbar (100px);
}