$triangle-base: 100px;
$num-wide: 8;
$row-width: $triangle-base * $num-wide;

$a-color: orange;
$b-color: red;
$c-color: blue;
$d-color: green;


body {
    background: #ddd;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hex-pattern-row {
    margin: 50px auto;
    outline: 1px solid gray;
    visibility: visible;
    overflow: hidden;

    .a-d, .b, .c {
        width: 0px;
        height: 0px;
        border: $triangle-base/2 solid transparent;
        float: left;
        margin: 0px;
        padding: 0px;
    }

    display: block;
    position: relative;
    height: $triangle-base;
    width: $row-width;

    .b-row {
        visibility: visible;
        position: absolute;
        width: $row-width + $triangle-base;
        margin-left: -($triangle-base/2);
        margin-top:  -($triangle-base/2); 

        .b {
          border-bottom: $triangle-base/2 solid red;
        }
    }

    .a-d {
      border-top: $triangle-base/2 solid orange;
      border-bottom: $triangle-base/2 solid green;
    }

    .c-row {
        visibility: visible;
        position: absolute;
        width: $row-width + $triangle-base;
        margin-left: -($triangle-base/2);
        margin-top:  $triangle-base/2;

        .c {
          border-top: $triangle-base/2 solid blue;
        }
    }
}
