@import "compass";

$header-height: 50px;
$font-color-main: #fff;
$font-color-sub: #fff;

body {
  background: rgb(126, 86, 151);
  font-family: 'Open Sans', sans-serif;  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0px auto;
}


@mixin headerbar ($header-height) {
    color: $font-color-main;
    background: rgb(105, 47, 113);
    position: relative;
    z-index: 10;
    height: $header-height;

    .container {
        h1.title {
            font-size: 50px;
            line-height: $header-height;
            text-align: left;
            margin: 0 auto;
            padding-left: 20px;
        }
    }
} // end of headerbar mixin

@mixin subheader ($header-height) {
    color: $font-color-sub;
    letter-spacing: 2px;
    position: relative;
    z-index: 5;
    background: rgb(86, 151, 115);

    .container {
    
      h2.subtitle {
          font-size: 30px;
          height: $header-height - 10px;
          line-height: $header-height - 10px;
          text-align: left;
          margin: 0 auto;
          padding-left: 50px;
      }
    } //end container class 
} // end subheader mixin definition


.header {
    @include headerbar (100px);
}

.subheader {
    @include subheader (100px);
}


@mixin geometric-pattern-row ($triangle-base, $num-wide, $color) {

  $row-width: $triangle-base * $num-wide;  
  $a-color: adjust-lightness($color, 05%);
  $b-color: adjust-lightness($color, 10%);
  $c-color: adjust-lightness($color, 15%);
  $d-color: adjust-lightness($color, 20%);

  width: $row-width;
  margin: 30px auto;

  .geometric-pattern-row {
      overflow: hidden;
      display: block;
      position: relative;
      height: $triangle-base;
      width: $row-width; 

      .a-d, .b, .c {
          @include transition(all 0.5s ease);
          width: 0px;
          height: 0px;
          border: $triangle-base/2 solid transparent;
          float: left;
          margin: 0px;
          padding: 0px;
      }  

      .b-row {
          visibility: visible;
          position: absolute;
          width: $row-width + $triangle-base;
          margin-left: -($triangle-base/2);
          margin-top:  -($triangle-base/2);   
          .b {
            border-bottom: $triangle-base/2 solid $b-color;
          }
      } // end of b-row 

      .a-d {
        border-top: $triangle-base/2 solid $a-color;
        border-bottom: $triangle-base/2 solid $d-color;
      }  

      .c-row {
          visibility: visible;
          position: absolute;
          width: $row-width + $triangle-base;
          margin-left: -($triangle-base/2);
          margin-top:  $triangle-base/2;  
          .c {
            border-top: $triangle-base/2 solid $c-color;
          }
      } // end of c-row

  } // end of geometric-pattern-row
}//end of mixin definition 

.geometric-container-a{
  overflow: hidden;
  @include border-radius(20px);

  $r: 72;
  $g: 100;
  $b: 67;

  @include geometric-pattern-row (100px, 8, rgb($r, $g, $b));
  &:hover {
    @include geometric-pattern-row (100px, 8, rgb($r+50, $g+20, $b+10));
  }
  &:active {
    @include geometric-pattern-row (100px, 8, rgb($r+10, $g+50, $b+90));
  }
}

.geometric-container-b{
  overflow: hidden;
  @include border-radius(20px);

  $r: 20;
  $g: 20;
  $b: 150;

  @include geometric-pattern-row (100px, 8, rgb($r, $g, $b));
  &:hover {
    @include geometric-pattern-row (100px, 8, rgb($r+50, $g+20, $b+10));
  }
  &:active {
    @include geometric-pattern-row (100px, 8, rgb($r+10, $g+50, $b+90));
  }
}

.geometric-container-c{
  overflow: hidden;
  @include border-radius(20px);

  $r: 90;
  $g: 20;
  $b: 50;

  @include geometric-pattern-row (100px, 8, rgb($r, $g, $b));
  &:hover {
    @include geometric-pattern-row (100px, 8, rgb($r+50, $g+20, $b+10));
  }
  &:active {
    @include geometric-pattern-row (100px, 8, rgb($r+10, $g+50, $b+90));
  }
}



